* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 4px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    height: 25px;
    vertical-align: middle;
}

ul {
    display: flex;
}

ul>li {
    padding: 4px;
}

.content {
    display: flex;
    width: 800x;
    margin-left: auto;
    margin-right: auto;

}

.content>aside {
    background-color: skyblue;
    width: 200px;
}

.content>main {
    background-color: #997838;
    height: 400px;
    flex-grow: 1;
}

.content>.ad {
    background-color: blue;
    width: 100px;
}

.imagelist {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imagelist>.x {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
}

.image {
    width: 191px;
    height: 191px;
    background-color: purple;
    border: 1px solid skyblue;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 10px;
}